[submodule "cFS"]
	path = cFS
	url = https://github.com/nasa/cFS
[submodule "rsb"]
	path = rsb
	url = https://gitlab.rtems.org/rtems/tools/rtems-source-builder.git
[submodule "rtems-net-legacy"]
	path = rtems-net-legacy
	url = https://gitlab.rtems.org/rtems/pkg/rtems-net-legacy.git
